.logo {
    border:0px solid blue;
    display: flex;
    justify-content: center; 
    margin-left: auto;
    }

.logo img {
    height: 8rem;
    }

header {
    border: 2px solid #C3F4FF;
    text-align: center;
    color: black;
    background-color: #C3F4FF;
    width: 71%;
    height: 7rem;
    margin-left: 30px;
    padding-bottom: 10px;
    }

header h1{
    font-size: 48px;
    font-family: 'Inika', serif;
    text-align: center;
    }

.Sök button:hover {
    background-color: #ddd;
    color: black;
    }

.Sök button{
    height: 2rem;
    width: 2rem;
    margin-top: 0.5rem;
    }

.Sök {
    overflow: hidden;
    background-color: #e9e9e9;
    }

.Sök {
    float: right;
    position: absolute;
    margin-top: 3.5rem;
    margin-left: 61rem;
      }

.Sök input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 17px;  
      }

.Sök img{
    height: 2rem;
}
        
.grid {
    display: grid;
    grid-template-columns: 15% auto;
    }

aside {
    border: 2px solid #65E3FF;
    text-align: center;
    color: black;
    background-color: #65E3FF;
    width: 175px;
    margin-left: auto;
    margin-top: 20px;
    }

.SidoRubrik {
    background-color: #C3F4FF;
    border: 2px solid #C3F4FF;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    }

.SidoRubrik h2{
    font-family: 'Inika', serif;
    text-align: center;
    margin-top: -2px;
    margin-bottom: -2px;
    }

.SidoImg {
    border: 0px solid black;
    display: flex;
    justify-content: center;
    }

.SidoImg img{
    height: 5rem;
    margin: auto;
    padding: 10px;
    }

.Allergi p{
    font-family: 'Inika', serif;
    font-weight: bold;
    }

article {
    border: 2px solid #7BE7FF;
    background-color: #7BE7FF;
    align-items: center;
    width: 400px;
    height: 386px;
    font-family: 'Inika', serif;
    margin: 30px;
    }

.ReceptArtikel {
    text-align: center;
    }

.ReceptArtikel h2{
    font-size: 30px;
    }

.Serveringsförslag {
    border: 2px solid #B5FBFF;
    background-color: #B5FBFF;
    width: 365px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    }

.Serveringsförslag p{
    margin-left: 5px;
    }

.LänkarTopp {
    position: absolute;
    right: 150px;
    width: 150px;
    height: 386px;
    align-items: center;
    margin-top: 160px;
    margin-right: -125px;
    border: 2px solid #35DBFF;
    background-color: #35DBFF;
    font-family: 'Inika', serif;
    }

.LänkarTopp h2{
    text-align: center;
    margin-bottom: -5px;
    font-size: large;
    }

.LänkarTopp a{
    margin-bottom: 50px;
    margin-top: 10px;
    }

.KöttbullarImg {
    position: absolute;
    right: 330px;
    margin-top: 160px;
    margin-right: -130px;
    align-items: center;
    border: 10px solid #9CB8FF;
    padding: 0;
    padding-bottom:50px;
    height: 56%;
    }

.KöttbullarImg img{
    height: 370px;
    width: 395px;
    }

.Ingredienslista {
    align-items: center;
    position: absolute;
    left: 225px;
    bottom: -400px;
    border: 2px solid #C3F4FF;
    background-color: #C3F4FF;
    
    }

.Ingredienslista img{
    height: 4rem;
    margin-left: 60px;
    }

.Ingredienslista h2{
    text-align: center;
    }

.Ingredienslista li{
    margin-top: 10px;
    margin-bottom: 10px;
    }